<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Your Mod</h1>
    </div>
  </div>
<%= render 'form' %>

<%= link_to 'Show', @sketch %> |
<%= link_to 'Back', sketches_path %>
</div>
