<%= form_for(@nunchuck) do |f| %>
  <% if @nunchuck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nunchuck.errors.count, "error") %> prohibited this nunchuck from being saved:</h2>

      <ul>
      <% @nunchuck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
